			/*
			* Div containing column headers
			*/
			.headers {
				position: relative;
			}
			/*
			* Div containing ranking columns
			*/ 
			.rankings {
				position: relative;
			}

			/*
			* Positining & styling for all headers
			*/
			.headers > .col-1-header {
				position: absolute;
				left: 0px;
			}

			.headers > .col-2-header {
				position: absolute;
				left: 250px;
			}

			.headers > .col-3-header {
				position: absolute;
				left: 500px;
			}

			.headers > .col-4-header {
				position: absolute;
				left: 750px;
			}

			.headers > .col-5-header {
				position: absolute;
				left: 1000px;
			}

			.headers > .col-6-header {
				position: absolute;
				left: 1250px;
			}

			.headers > .col-7-header {
				position: absolute;
				left: 1500px;
			}


			/*
			* Styling for tables & rows within tables. Changing these values
			* may affect the CSS generation due to a change in table sizes.
			* As well, changing table width will require adjustments to positioning. 
			*/
			table, th, td {
				border: 1px solid black;
				border-collapse: collapse;
			}

			th, td {
				padding-top: 5px;
				padding-bottom: 5px;
				padding-left: 2px;
				padding-right: 2px;
				text-align: left;   
			}

			table {
				font-size: 100%;
				font-family: monospace;
				width: 250px;
				line-height: 7px;
			}


			/*
			* Classes describing different table column properties. 
			*/
			.heat-number{
				width: 15px;
				max-width: 15px;
				text-align: center;
			}

			.name{
				width: 70px;
				max-width: 70px;
				height: 18px;
			}

			.place{
				width: 24px;
				max-width: 24px;
				text-align: center;
			}

			/*
			* Classes defining each column's individual position on the page.
			*/
			.col-1 {
				position: absolute;
				top: 30px;
				left: 0px;    		
			}

			
			.col-2 {
				position: absolute;
				top: 30px;
				left: 250px;    		

			}

			.col-3 {
				position: absolute;
				top: 30px;
				left: 500px; 
			}


			.col-4 {
				position: absolute;
				top: 30px;
				left: 750px; 
			}


			.col-5 {
				position: absolute;
				top: 30px;
				left: 1000px;    	

			}

			.col-6 {
				position: absolute;
				top: 30px;
				left: 1250px;  
			}

			/*
			* Class to be applied to the first column's seed attribute.
			*/
			.seed-col {
				width: 2.4em;
			}

			.final-bracket-title {
				text-align: center;
				font-weight: bold; 
				letter-spacing: 4px;
			} 